<cfoutput>
<h1>Contact.edit</h1>

#html.startForm(action=event.buildLink(prc.xehSave))#
#html.textField( name="firstname", value=prc.firstname, label="First Name")#
#html.textField( name="lastname", value=prc.lastname, label="Last Name")#
#html.textField( name="email", value=prc.email, label="Email")#
#html.hiddenField( name="id", value=prc.id)#
#html.submitButton("go")#
#html.endForm()#
<a href="#event.buildLink(prc.xehIndex)#">Back to Contact.index</a>
</cfoutput>